# Architecture
BR2_aarch64=y

# System settings
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_DL_DIR="$(TOPDIR)/.dl"
BR2_TARGET_GENERIC_HOSTNAME="ucls1012a"
BR2_TARGET_GENERIC_ISSUE="Welcome to uCLS1012A-SOM314S (Smarc)"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/arcturus/aarch64-ucls1012a/som314s/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/arcturus/aarch64-ucls1012a/som314s/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="br_som314s_002" # Has to be the same as BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/ArcturusNetworks/uCLS1012A-kernel"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="br_som314s_002"
BR2_LINUX_KERNEL_DEFCONFIG="ucls1012a-som314s"
BR2_LINUX_KERNEL_IMAGEGZ=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="arcturus/arc-ucls1012a-som314s"

# Filesystem
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y

# U-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/ArcturusNetworks/uCLS1012A-uboot"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="br_som314s_002"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="UCLS1012A_SOM314S"

# Tools
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
