# Architecture
BR2_aarch64=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y

# System settings
BR2_TARGET_GENERIC_HOSTNAME="ucs32v"
BR2_TARGET_GENERIC_ISSUE="Welcome to uCS32V234-SOM"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/arcturus/aarch64-ucs32v/post-image.sh"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/ArcturusNetworks/uCS32V-kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="747b22c1b6d93f04ee87cd838213811e8dfd5531"
BR2_LINUX_KERNEL_DEFCONFIG="s32v234"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="freescale/s32v234-evb"

# Filesystem
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y

# U-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/ArcturusNetworks/uCS32V-uboot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="7debd6074dfd91dd6a22f207b3f8cdd20af87202"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="s32v234evb"

# Tools
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
