BR2_aarch64=y
BR2_WGET="wget -nd -t 3 --no-check-certificate"
BR2_DL_DIR="$(TOPDIR)/.dl"
BR2_INIT_NONE=y
# BR2_PACKAGE_BUSYBOX is not set
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_HG=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="ssh://hgssh@fatman.arcturusnetworks.com/u-boot-ls1012a.pit"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="v240926"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="UCLS1012A_DONGLE"
